@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");

:root {
  --mainColor: #2D4F41;
  --secondColor: #D19D4E;
  --thirdColor: #B59650;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Almarai", serif;
  /* background-color: #f5f5f5; */
}

.slider-container {
  display: flex;
  /* max-width: 1400px; */
  margin: 2rem auto;
  /* padding: 2rem; */
  gap: 4rem;
  min-height: 600px;
  background: #efefef;
  border-radius: 70px;
  position: relative;
  overflow-x: hidden;
}

.content-section {
  flex: 1;
  display: flex;
  align-items: center;
  direction: rtl;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  visibility: hidden;
  padding-inline-end: 1.5rem;
}

.content.active {
  opacity: 1;
  visibility: visible;
}

.content h2 {
  color: var(--mainColor);
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.content p {
  color: #999;
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 400;
}

.content p strong {
  color: var(--mainColor);
  font-weight: 900;
  font-size: 1.15rem;
}

.slider-section {
  flex: 1.25;
  position: relative;
}

.slider-wrapper {
  display: flex;
  gap: 1rem;
  align-items: end;
  height: 500px;
  position: relative;
}

.slide {
  position: absolute;
  height: 325px;
  width: 375px;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.75s ease-in-out;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  left: 0%;
  transform: translateX(0%) scale(0.8, 1);
}

.slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
  transition: background 0.3s ease;
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
  height: 425px;
  /* width: 350px; */
  border: 5px solid var(--secondColor);
  z-index: 3;
  transform: translateX(-5%) scale(1);
}

.slide.active::after {
  background: rgba(0,0,0,0);
}

.slide.prev {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
  transform: translateX(185%) scale(0.8, 1);
}

.slide.next {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
  transform: translateX(95%) scale(0.8, 1);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  bottom: 50px;
  left: 30%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.dots {
  display: flex;
  gap: 1rem;
}

.dot {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: var(--thirdColor);
  border-color: var(--thirdColor);
  transform: scale(1.5);
}

@media (max-width: 1400px) {
  .content h2 {
    font-size: 2.15rem;
  }

  .slide {
    height: 300px;
    width: 325px;
  }

  .slide.active {
    height: 400px;
    transform: translateX(-10%) scale(1);
  }
  
  .slide.prev {
    transform: translateX(180%) scale(0.8, 1);
  }
  
  .slide.next {
    transform: translateX(90%) scale(0.8, 1);
  }
}

@media (max-width: 1200px) {
  .content h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  .content p {
    line-height: 1.6;
    font-size: 1rem;
  }

  .content p strong {
    font-size: 1.05rem;
  }

  .slide {
    width: 275px;
  }

  .navigation {
    bottom: 40px;
  }
  
  .dot {
    width: 0.85rem;
    height: 0.85rem;
  }
  
  .dot.active {
    transform: scale(1.25);
  }
}

@media (max-width: 992px) {

  .slider-container {
    min-height: 550px;
  }

  .slider-wrapper {
    height: 450px;
  }

  .content {
    padding-inline-end: 1.25rem;
  }

  .content h2 {
    font-size: 1.6rem;
    margin-bottom: 1.1rem;
  }

  .content p {
    line-height: 1.4;
  }

  .slide {
    height: 275px;
    width: 230px;
  }

  .slide.active {
    height: 350px;
    border: 4px solid var(--secondColor);
    transform: translateX(-15%) scale(1);
  }
  
  .slide.prev {
    transform: translateX(175%) scale(0.8, 1);
  }
  
  .slide.next {
    transform: translateX(85%) scale(0.8, 1);
  }

  .navigation {
    left: 40%;
  }
}

@media (max-width: 768px) {

  .slider-container {
    min-height: 500px;
    gap: 2rem;
    border-radius: 50px;
  }

  .content {
    padding-inline-end: 1rem;
  }

  .content h2 {
    font-size: 1.3rem;
    margin-bottom: 0.9rem;
  }

  .content p {
    font-size: 0.95rem;
  }

  .content p strong {
    font-size: 1rem;
  }
  
  .slider-section {
    flex: 1;
  }

  .slider-wrapper {
    height: 400px;
  }

  .slide {
    height: 250px;
    width: 225px;
  }

  .slide.active {
    height: 300px;
    transform: translateX(-5%) scale(1);
  }
  
  .slide.prev {
    transform: translateX(185%) scale(0.8, 1);
  }
  
  .slide.next {
    transform: translateX(95%) scale(0.8, 1);
  }

  .navigation {
    left: 50%;
  }

  .dots {
    gap: 0.8rem;
  }
  
  .dot {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (max-width: 570px) {

  .slider-container {
    min-height: 500px;
  }
  
  .content p {
    line-height: 1.25;
    font-size: 0.9rem;
  }

  .content p strong {
    font-size: 0.95rem;
  }

  .slide {
    height: 240px;
    width: 225px;
  }

  .slide.active {
    height: 310px;
  }

  .dots {
    gap: 0.75rem;
  }
  
  .dot {
    width: 0.75rem;
    height: 0.75rem;
  }
}

@media (max-width: 500px) {

  .slider-container {
    min-height: 475px;
    border-radius: 40px;
  }

  .content {
    padding-inline-end: 0.75rem;
  }

  .content h2 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
  }
  
  .content p {
    font-size: 0.85rem;
  }

  .content p strong {
    font-size: 0.9rem;
  }

  .slider-wrapper {
    height: 375px;
  }

  .slide {
    height: 230px;
    width: 170px;
  }

  .slide.active {
    height: 290px;
  }
}

@media (max-width: 400px) {
  .slider-container {
    min-height: 425px;
    border-radius: 35px;
    gap: 1.5rem;
  }

  .content {
    padding-inline-end: 0.25rem;
  }

  .content h2 {
    font-size: 0.9rem;
  }
  
  .content p {
    line-height: 1.15;
    font-size: 0.7rem;
  }

  .content p strong {
    font-size: 0.75rem;
  }

  .slider-wrapper {
    height: 325px;
  }

  .slide {
    height: 180px;
    width: 140px;
  }

  .slide.active {
    height: 240px;
  }
  
  .dots {
    gap: 0.6rem;
  }
  
  .dot {
    width: 0.65rem;
    height: 0.65rem;
  }
}

@media (max-width: 350px) {

  .slider-container {
    min-height: 400px;
  }

  .content {
    padding-inline-end: 0.25rem;
  }

  .content h2 {
    font-size: 0.85rem;
  }
  
  .content p {
    line-height: 1;
  }

  .slider-wrapper {
    height: 300px;
  }

  .slide {
    height: 175px;
    width: 120px;
  }

  .slide.active {
    height: 220px;
  }

  .navigation {
    bottom: 50px;
  }
}

@media (max-width: 300px) {

  .slider-container {
    border-radius: 30px;
  }

  .slider-section {
    flex: 0.75;
  }

  .slider-container {
    min-height: 380px;
  }

  .slider-wrapper {
    height: 280px;
  }

  .slide {
    height: 150px;
    width: 110px;
  }

  .slide.active {
    height: 200px;
  }

  .navigation {
    bottom: 40px;
  }
}